@model IEnumerable<MusicStore.Data.Album>
@{
    ViewBag.Title = "Home Page";
}

<h2 class="sonEklenenler"> Son Eklenenler</h2>
<div class="row d-flex flex-wrap">
    @foreach (var album in Model)
    {
        @Html.Partial("AlbumBox", album)

    }
</div>